@import 'compass/css3/font-face';
@import 'config';

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-roman-webfont.woff', woff,
    'avenir-webfont/avenir-roman-webfont.ttf', truetype
  ),
  $weight: normal,
  $style: normal
);

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-heavy-webfont.woff', woff,
    'avenir-webfont/avenir-heavy-webfont.ttf', truetype
  ),
  $weight: bold,
  $style: normal
);

* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */

  box-sizing: border-box;
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

html, body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar { display: none !important }
}

body {
  background-color: #d2cbc3;
  color: #000;
  font: 11pt 'avenir', helvetica, arial, sans-serif;
}

form {
  display: block;
  width: 100%;
}

article.view {
  min-height: 100%;

  display: -webkit-flex;
  display: flex;

  // -webkit-align-items: stretch;
  // align-items: stretch;

  // -webkit-flex-flow: row;
  // flex-flow: row;

  & > .content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;

    &.content-padded {
      margin: 2vw;
      padding: 20px 15px;
      background-color: white;
      border-radius: 4px;
    }

    & > *:not(footer) {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    & > footer {
      // &.footer-bottom {
        // -webkit-align-self: flex-end;
        // align-self: flex-end;
      // }
    }
  }
}


@-webkit-keyframes invalidshake {
  8%, 41%  {-webkit-transform: translateX(-10px);}
  25%, 58% {-webkit-transform: translateX(10px);}
  75%      {-webkit-transform: translateX(-5px);}
  92%      {-webkit-transform: translateX(5px);}
  0%, 100% {-webkit-transform: translateX(0);}
}
@keyframes invalidshake {
  8%, 41%  {transform: translateX(-10px);}
  25%, 58% {transform: translateX(10px);}
  75%      {transform: translateX(-5px);}
  92%      {transform: translateX(5px);}
  0%, 100% {transform: translateX(0);}
}

.animated.invalid-shake {
  -webkit-animation: invalidshake .5s linear;
  animation: invalidshake .5s linear;
}


.animate-switch-container {
}
.animate-switch {
}
.animate-switch.ng-animate {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top: -50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top: 0;
}
