@import 'compass/css3/font-face';
@import 'bootstrap-overrides';

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-roman-webfont.woff', woff,
    'avenir-webfont/avenir-roman-webfont.ttf', truetype
  ),
  $weight: normal,
  $style: normal
);

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-heavy-webfont.woff', woff,
    'avenir-webfont/avenir-heavy-webfont.ttf', truetype
  ),
  $weight: bold,
  $style: normal
);

* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */

  box-sizing: border-box;
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

html, body {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar { display: none !important }
}

// body {
//   background-color: #d2cbc3;
//   color: #000;
//   font: 11pt 'avenir', helvetica, arial, sans-serif;
// }


header {
  margin-bottom: 1rem;
}

form {
  display: block;
  width: 100%;
}

.buskr-input {
  margin-bottom: 1rem;

  &.with-info {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .input-info {
      position: relative;
      top: -2px;
      padding: .75rem $padding-base-horizontal;
      background-color: #f6f5f3;
      color: #d2cbc3;
      border: 1px solid $input-border;
      border-top: 0;
      border-radius: $border-radius-base;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

article.view {
  min-height: 100%;

  display: -webkit-flex;
  display: flex;

  // -webkit-align-items: stretch;
  // align-items: stretch;

  // -webkit-flex-flow: row;
  // flex-flow: row;

  & > .content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;

    &.content-padded {
      margin: 2vw;
      padding: 20px 15px;
      background-color: white;
      border-radius: 4px;
    }

    & > *:not(footer) {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    & > footer {
      // &.footer-bottom {
        // -webkit-align-self: flex-end;
        // align-self: flex-end;
      // }
    }
  }
}


@-webkit-keyframes invalidshake {
  8%, 41%  {-webkit-transform: translateX(-10px);}
  25%, 58% {-webkit-transform: translateX(10px);}
  75%      {-webkit-transform: translateX(-5px);}
  92%      {-webkit-transform: translateX(5px);}
  0%, 100% {-webkit-transform: translateX(0);}
}
@keyframes invalidshake {
  8%, 41%  {transform: translateX(-10px);}
  25%, 58% {transform: translateX(10px);}
  75%      {transform: translateX(-5px);}
  92%      {transform: translateX(5px);}
  0%, 100% {transform: translateX(0);}
}

@-webkit-keyframes bounceIn {
  0%    { opacity: 0; -webkit-transform: scale3d(0.85, 0.85, 0.85); }
  50%   { opacity: 1; -webkit-transform: scale3d(1.05, 1.05, 1.05); }
  70%   { opacity: 1; -webkit-transform: scale3d(0.9, 0.9, 0.9); }
  100%  { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}
@keyframes bounceIn {
  0%    { opacity: 0; transform: scale3d(0.85, 0.85, 0.85); }
  50%   { opacity: 1; transform: scale3d(1.05, 1.05, 1.05); }
  70%   { opacity: 1; transform: scale3d(0.9, 0.9, 0.9); }
  100%  { opacity: 1; transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes scaleIn {
  0%    { opacity: 0; -webkit-transform: scale3d(1.15, 1.15, 1.15); }
  100%  { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}
@keyframes scaleIn {
  0%    { opacity: 0; -webkit-transform: scale3d(1.15, 1.15, 1.15); }
  100%  { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}


@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}
@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

.animated.invalid-shake {
  -webkit-animation: invalidshake .5s linear;
  animation: invalidshake .5s linear;
}

.animate-switch-container {
}
.animate-switch {
}
.animate-switch.ng-animate {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top: -50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top: 0;
}


.repeat-animation.ng-move,
.repeat-animation.ng-enter,
.repeat-animation.ng-leave {
  opacity: 0;
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;

  -webkit-animation-duration: 0;
  animation-duration: 0;
}

/* ending enter and move styling
   (this is what the element will animate from */
.repeat-animation.ng-enter {
  -webkit-animation: scaleIn 400ms;
  animation: scaleIn 400ms;
}

/* ending enter and move styling
   (this is what the element will animate towards */
.repeat-animation.ng-enter.ng-enter-active,
.repeat-animation.ng-move.ng-move-active {
}

/* starting leave animation */
.repeat-animation.ng-leave {
}

/* ending leave animation */
.repeat-animation.ng-leave.ng-leave-active {
}

