@import 'compass/css3/font-face';
@import 'config';

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-roman-webfont.woff', woff,
    'avenir-webfont/avenir-roman-webfont.ttf', truetype
  ),
  $weight: normal,
  $style: normal
);

@include font-face('avenir',
  inline-font-files(
    'avenir-webfont/avenir-heavy-webfont.woff', woff,
    'avenir-webfont/avenir-heavy-webfont.ttf', truetype
  ),
  $weight: bold,
  $style: normal
);

* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */

  box-sizing: border-box;
}

input, textarea {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

html, body {
  // height: 100%;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar { display: none !important }
}

body {
  background-color: #d2cbc3;
  color: #000;
  font: 11pt 'avenir', helvetica, arial, sans-serif;
}

form {
  display: block;
  width: 100%;
}

article.view {
  min-height: 100%;

  display: -webkit-flex;
  display: flex;

  // -webkit-align-items: stretch;
  // align-items: stretch;

  // -webkit-flex-flow: row;
  // flex-flow: row;

  & > .content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column;
    flex-flow: column;

    &.content-padded {
      margin: 2vw;
      padding: 20px 15px;
      background-color: white;
      border-radius: 4px;
    }

    & > *:not(footer) {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    & > footer {
      // &.footer-bottom {
        // -webkit-align-self: flex-end;
        // align-self: flex-end;
      // }
    }
  }
}

// .page {
//   display: -webkit-box;
//   display: -moz-box;
//   display: box;

//   -webkit-box-orient: vertical;
//   box-orient: vertical;

//   min-height: 96vh;
//   margin: $gutter-width;
//   padding: 10px;
//   border-radius: 4px;
//   background-color: white;
// }
// .page > .content-full {
//   -webkit-box-flex: 1;
//   box-flex: 1;
// }


.animate-switch-container {
}
.animate-switch {
}
.animate-switch.ng-animate {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top: -50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top: 0;
}
