@import "variable-overrides";
@import "artist-card";

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

.content {
  // position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // overflow: auto;

  -webkit-backface-visibility: none;
  -webkit-overflow-scrolling: touch;
}

.buskr-list-artists {
  background-color: black;
  margin: 0;
}

.artist-profile {
  .artist-card .artist-image {
    // -webkit-animation: fadeIn 400ms;
    // animation: fadeIn 400ms;

    // -webkit-animation-delay: 300ms;
    // animation-delay: 300ms;
  }

  .profile-sections {
    margin: 1rem;
    background-color: white;
    border-radius: $border-radius-base;

    > section {
      display: -webkit-flex;
      display: flex;

      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;

      padding: 1.5rem 1rem;
      border-bottom: 1px solid $gray-lighter;

      &:last-of-type {
        border-bottom: none;
      }

      &.flow-column {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;

        .body {
          display: block;
        }
      }

      > header {
        margin: 0 0 0 .5rem;

        &.centered {
          -webkit-align-self: center;
          align-self: center;
        }

        h3 {
          float: left;
          font-size: $font-size-small;
          font-weight: normal;
          margin: 0;
          color: $brand-primary;
        }

        .info {
          float: right;
          font-size: 12px;
          color: $gray-light;
        }
      }

      > .body {
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;

        -webkit-flex: 1 auto;
        flex: 1 auto;
      }
    }

    .location-section {
      .address {
        color: $gray;
      }

      .map {
        margin: 1rem 0;
        border-radius: $border-radius-base;
      }
    }

    .events-section {
      text-align: right;
    }

    .itunes-section {
      .itunes-button {
        background-color: #85807a;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }

  .profile-footer {
    position: relative;
    height: 45px;
    background-color: $brand-buskr;

    .tip-performer {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;

      .text {
        padding: .5rem 1rem 1rem;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
      }
    }
  }

  .tip-amount-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .profile-footer {
      left: 0;
      right: 0;
      bottom: 0;
    }

    .tip-amounts {
      position: absolute;
      bottom: 100px;
      left: 50%;
      margin-left: -125px;
      width: 250px;
      border-radius: $border-radius-base;
      background-color: white;

      &::after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: #fff;
        border-width: 10px;
        margin-left: -10px;
      }

      ul {
        margin-bottom: 0;
      }

      li {
        padding: 1rem;
        border-bottom: 1px solid $gray-lightest;
        color: $gray-dark;
        text-align: center;

        &:last-of-type {
          border-bottom: none;
        }

        .amount {
          line-height: 1;
          font-size: 14pt;
        }

        .desc {
          color: $gray;
        }

        .custom-amt {
          margin: -0.5rem;
          padding: .5rem;
          color: $gray;
          font-size: 10pt;
          border: 1px solid #e0dfdc;
          border-radius: $border-radius-base;
          background-color: $gray-lightest;
        }
      }
    }
  }
}

.artists-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .angular-google-map,
  .angular-google-map-container {
    height: 100%;
    width: 100%;
  }

  .artist-card {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
