@import 'config';

html, body {
  height: 100%;
}

#loginPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #fbc26b url(../images/splash.png) no-repeat;
  background-size: 100%;
  background-position: 0 20%;

  .login-buttons {
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }

  .skip-login {
    width: 85%;
    margin: auto;
    text-align: right;
    padding: 10px 0;
    color: #bf8c3f;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.submit-area {
  margin-top: 20px;
}
