@import 'bootstrap-overrides';

html, body {
  height: 100%;
}

#loginPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 2rem 0;
  background-color: #fbc26b;

  .login-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 180px;
    text-align: center;
    color: white;

    background: transparent url(../images/splash.png) no-repeat;
    background-size: 100%;
    background-position: 50% -160px;

    .title {
      font-size: 12pt;
    }
    .subtitle {
      font-size: 10pt;
    }
  }

  .login-buttons {
    -webkit-align-self: flex-end;
    align-self: flex-end;

    .btn {
      margin: 5px auto;
    }
  }

  .skip-login {
    margin: auto;
    text-align: right;
    padding: 15px 0;
    color: #bf8c3f;
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form[name=loginForm] {
  margin-bottom: 100px;
}

.submit-area {
  margin-top: 20px;
}
