/* line 1, ../../app/scss/_artist-card.scss */
.artist-card {
  position: relative;
  height: 175px;
  overflow: hidden;
}
/* line 6, ../../app/scss/_artist-card.scss */
.artist-card::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}
/* line 18, ../../app/scss/_artist-card.scss */
.artist-card .artist-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
/* line 26, ../../app/scss/_artist-card.scss */
.artist-card .artist-name {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 1rem;
  right: 1rem;
  color: white;
  font-size: 16pt;
  font-family: 'avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.5);
}
/* line 41, ../../app/scss/_artist-card.scss */
.artist-card .live-location {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 1rem;
  right: 1rem;
  padding: 8px 0;
  min-height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}
/* line 52, ../../app/scss/_artist-card.scss */
.artist-card .live-location .btn-live {
  position: relative;
  float: left;
  width: 40%;
  background-color: #18c97c;
  box-shadow: 0 0 15px 4px rgba(24, 201, 124, 0.75);
}
/* line 59, ../../app/scss/_artist-card.scss */
.artist-card .live-location .btn-live::before {
  position: absolute;
  left: 10px;
  display: block;
  content: '\b7';
  color: #328059;
  font-size: 48px;
}
/* line 69, ../../app/scss/_artist-card.scss */
.artist-card .live-location .loc {
  height: 20px;
  opacity: .85;
  padding-left: 20px;
  background: transparent url(/icons/marker@2x.png) no-repeat;
  background-size: 13px auto;
  float: right;
}

/* line 4, ../../app/scss/artist.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 10, ../../app/scss/artist.scss */
.content {
  -webkit-backface-visibility: none;
  -webkit-overflow-scrolling: touch;
}

/* line 22, ../../app/scss/artist.scss */
.buskr-list-artists {
  background-color: black;
  margin: 0;
}

/* line 36, ../../app/scss/artist.scss */
.artist-profile .profile-sections {
  margin: 1rem;
  background-color: white;
  border-radius: 3px;
}
/* line 41, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #d1cbc2;
}
/* line 51, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section:last-of-type {
  border-bottom: none;
}
/* line 55, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section.flow-column {
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
/* line 59, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section.flow-column .body {
  display: block;
}
/* line 64, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section > header {
  margin: 0 0 0 .5rem;
}
/* line 67, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section > header.centered {
  -webkit-align-self: center;
  align-self: center;
}
/* line 72, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section > header h3 {
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  color: #f0b059;
}
/* line 80, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section > header .info {
  float: right;
  font-size: 12px;
  color: #b0b0af;
}
/* line 87, ../../app/scss/artist.scss */
.artist-profile .profile-sections > section > .body {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}
/* line 99, ../../app/scss/artist.scss */
.artist-profile .profile-sections .location-section .address {
  color: #afafad;
}
/* line 103, ../../app/scss/artist.scss */
.artist-profile .profile-sections .location-section .map {
  margin: 1rem 0;
  border-radius: 3px;
}
/* line 109, ../../app/scss/artist.scss */
.artist-profile .profile-sections .events-section {
  text-align: right;
}
/* line 114, ../../app/scss/artist.scss */
.artist-profile .profile-sections .itunes-section .itunes-button {
  background-color: #85807a;
  border-radius: 3px;
  overflow: hidden;
}
/* line 122, ../../app/scss/artist.scss */
.artist-profile .profile-footer {
  position: relative;
  height: 45px;
  background-color: #fbc16b;
}
/* line 127, ../../app/scss/artist.scss */
.artist-profile .profile-footer .tip-performer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
/* line 134, ../../app/scss/artist.scss */
.artist-profile .profile-footer .tip-performer .text {
  padding: .5rem 1rem 1rem;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
/* line 143, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* line 150, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .profile-footer {
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 156, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  border-radius: 3px;
  background-color: white;
}
/* line 165, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts::after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
/* line 179, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts ul {
  margin-bottom: 0;
}
/* line 183, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts li {
  padding: 1rem;
  border-bottom: 1px solid #f1efeb;
  color: #7c7c7a;
  text-align: center;
}
/* line 189, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts li:last-of-type {
  border-bottom: none;
}
/* line 193, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts li .amount {
  line-height: 1;
  font-size: 14pt;
}
/* line 198, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts li .desc {
  color: #afafad;
}
/* line 202, ../../app/scss/artist.scss */
.artist-profile .tip-amount-overlay .tip-amounts li .custom-amt {
  margin: -0.5rem;
  padding: .5rem;
  color: #afafad;
  font-size: 10pt;
  border: 1px solid #e0dfdc;
  border-radius: 3px;
  background-color: #f1efeb;
}

/* line 216, ../../app/scss/artist.scss */
.artists-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 224, ../../app/scss/artist.scss */
.artists-map .angular-google-map,
.artists-map .angular-google-map-container {
  height: 100%;
  width: 100%;
}
/* line 229, ../../app/scss/artist.scss */
.artists-map .artist-card {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
}
