/* line 215, ../../app/scss/buskr-theme.scss */
.btn:active, .btn.active {
  background-image: none;
}

/* line 221, ../../app/scss/buskr-theme.scss */
.btn-default {
  border-color: #cececd;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #cececd;
  border-color: #cececd;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-default:active, .btn-default.active {
  background-color: #b0b0ae;
  border-color: #cececd;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 222, ../../app/scss/buskr-theme.scss */
.btn-primary {
  border-color: #f0b059;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #f0b059;
  border-color: #f0b059;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-primary:active, .btn-primary.active {
  background-color: #eb9521;
  border-color: #f0b059;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 223, ../../app/scss/buskr-theme.scss */
.btn-success {
  border-color: #5cb85c;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-success:hover, .btn-success:focus {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-success:active, .btn-success.active {
  background-color: #419641;
  border-color: #5cb85c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 224, ../../app/scss/buskr-theme.scss */
.btn-warning {
  border-color: #f0ad4e;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-warning:hover, .btn-warning:focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-warning:active, .btn-warning.active {
  background-color: #eb9316;
  border-color: #f0ad4e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 225, ../../app/scss/buskr-theme.scss */
.btn-danger {
  border-color: #d9534f;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-danger:hover, .btn-danger:focus {
  background-color: #d9534f;
  border-color: #d9534f;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #c12e2a;
  border-color: #d9534f;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 226, ../../app/scss/buskr-theme.scss */
.btn-info {
  border-color: #5bc0de;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-info:hover, .btn-info:focus {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-info:active, .btn-info.active {
  background-color: #2aabd2;
  border-color: #5bc0de;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 227, ../../app/scss/buskr-theme.scss */
.btn-fb {
  border-color: #4c689e;
}
/* line 194, ../../app/scss/buskr-theme.scss */
.btn-fb:hover, .btn-fb:focus {
  background-color: #4c689e;
  border-color: #4c689e;
}
/* line 202, ../../app/scss/buskr-theme.scss */
.btn-fb:active, .btn-fb.active {
  background-color: #384d75;
  border-color: #4c689e;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 236, ../../app/scss/buskr-theme.scss */
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 247, ../../app/scss/buskr-theme.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
  background-color: #e8e8e8;
}

/* line 253, ../../app/scss/buskr-theme.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #f0b059 0%, #eea542 100%);
  background-image: linear-gradient(to bottom, #f0b059 0%, #eea542 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0B059', endColorstr='#FFEEA542', GradientType=0);
  background-color: #eea542;
}

/* line 264, ../../app/scss/buskr-theme.scss */
.navbar-default {
  background-image: -webkit-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF8F8F8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
/* line 271, ../../app/scss/buskr-theme.scss */
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

/* line 277, ../../app/scss/buskr-theme.scss */
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

/* line 282, ../../app/scss/buskr-theme.scss */
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/* line 286, ../../app/scss/buskr-theme.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF222222', endColorstr='#FF282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
/* line 292, ../../app/scss/buskr-theme.scss */
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 300, ../../app/scss/buskr-theme.scss */
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

/* line 311, ../../app/scss/buskr-theme.scss */
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 324, ../../app/scss/buskr-theme.scss */
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFC8E5BC', GradientType=0);
  border-color: #b2dba1;
}

/* line 325, ../../app/scss/buskr-theme.scss */
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0', GradientType=0);
  border-color: #9acfea;
}

/* line 326, ../../app/scss/buskr-theme.scss */
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFF8EFC0', GradientType=0);
  border-color: #f5e79e;
}

/* line 327, ../../app/scss/buskr-theme.scss */
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFE7C3C3', GradientType=0);
  border-color: #dca7a7;
}

/* line 336, ../../app/scss/buskr-theme.scss */
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF5F5F5', GradientType=0);
}

/* line 346, ../../app/scss/buskr-theme.scss */
.progress-bar {
  background-image: -webkit-linear-gradient(top, #f0b059 0%, #ec9a2a 100%);
  background-image: linear-gradient(to bottom, #f0b059 0%, #ec9a2a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0B059', endColorstr='#FFEC9A2A', GradientType=0);
}

/* line 347, ../../app/scss/buskr-theme.scss */
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF449D44', GradientType=0);
}

/* line 348, ../../app/scss/buskr-theme.scss */
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF31B0D5', GradientType=0);
}

/* line 349, ../../app/scss/buskr-theme.scss */
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0AD4E', endColorstr='#FFEC971F', GradientType=0);
}

/* line 350, ../../app/scss/buskr-theme.scss */
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFC9302C', GradientType=0);
}

/* line 358, ../../app/scss/buskr-theme.scss */
.list-group {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 364, ../../app/scss/buskr-theme.scss */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #ec9a2a;
  background-image: -webkit-linear-gradient(top, #f0b059 0%, #ed9f36 100%);
  background-image: linear-gradient(to bottom, #f0b059 0%, #ed9f36 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0B059', endColorstr='#FFED9F36', GradientType=0);
  border-color: #ed9f36;
}

/* line 377, ../../app/scss/buskr-theme.scss */
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 387, ../../app/scss/buskr-theme.scss */
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
}

/* line 388, ../../app/scss/buskr-theme.scss */
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f0b059 0%, #eea542 100%);
  background-image: linear-gradient(to bottom, #f0b059 0%, #eea542 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0B059', endColorstr='#FFEEA542', GradientType=0);
}

/* line 389, ../../app/scss/buskr-theme.scss */
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFD0E9C6', GradientType=0);
}

/* line 390, ../../app/scss/buskr-theme.scss */
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFC4E3F3', GradientType=0);
}

/* line 391, ../../app/scss/buskr-theme.scss */
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFFAF2CC', GradientType=0);
}

/* line 392, ../../app/scss/buskr-theme.scss */
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFEBCCCC', GradientType=0);
}

/* line 400, ../../app/scss/buskr-theme.scss */
.well {
  background-image: -webkit-linear-gradient(top, #e9e4dc 0%, #f3f0ec 100%);
  background-image: linear-gradient(to bottom, #e9e4dc 0%, #f3f0ec 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE9E4DC', endColorstr='#FFF3F0EC', GradientType=0);
  border-color: #dfd7cd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
