/* line 1, ../../app/scss/map.scss */
html, body {
  height: 100%;
}

/* line 5, ../../app/scss/map.scss */
#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 13, ../../app/scss/map.scss */
.close-map {
  position: absolute;
  top: 15px;
  right: 15px;
}
