

.list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .list__header {
    margin: 0;
  }
  .list__container {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .list__item {
    margin: 0;
    padding: 0;
  }
}

.buskr-list__container {
  border-top: 1px solid #9daca9;
  color: #454545;

  .buskr-list__item {
    padding: 1.25rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #9daca9;
  }
  .buskr-list__item:first-child {
    border-top: 1px solid #d6dcdb;
  }
}

.buskr-list-artists__container {
  .buskr-list-artists__item {
    position: relative;
    min-height: 150px;
    // padding: 1.25rem;
    // border-top: 1px solid #fff;
    // border-bottom: 1px solid #9daca9;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0,0,0,.2);
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 55%;
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }

    .artist-name {
      position: absolute;
      z-index: 2;
      bottom: 50px;
      left: 10px;
      right: 10px;
      color: white;
      font-size: 18pt;
      font-weight: bold;
      text-align: center;
      text-shadow: 1px 0 1px rgba(0,0,0,.5);
    }

    .live-location {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 10px;
      right: 10px;
      padding: 10px 0;
      border-top: 1px solid rgba(255,255,255,.5);
      color: white;
      line-height: 1.5rem;

      .button_live {
        position: relative;
        float: left;
        width: 40%;
        box-shadow: 0 0 15px 4px rgba(24,201,124,.75);

        &::before {
          position: absolute;
          left: 10px;
          display: block;
          content: '\b7';
          color: #328059;
          font-size: 50px;
        }
      }

      .loc {
        opacity: .85;
        padding-left: 25px;
        background: transparent url(../images/marker@2x.png) no-repeat;
        background-size: 16px auto;
        float: right;
      }
    }
  }

  .buskr-list-artists__item:first-child {
    // border-top: 1px solid #d6dcdb;
  }
}

.button,
.buskr-button,
.buskr-button-secondary {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}
.buskr-button,
.buskr-button-secondary {
  display: block;
  width: 85%;
  margin: 0 auto 10px;
  padding: 0 1.25rem;
  font-size: 13px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #fff;
  vertical-align: top;
  background-color: #f1b150;
  border-radius: 3px;
}
.buskr-button.button_secondary {
  background-color: #CECECE;
}
.buskr-button.button_facebook {
  background-color: #4a679f;
}
.buskr-button.button_live {
  display: inline-block;
  background-color: #18c97c;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.input,
.text-input,
.buskr-text-input,
.buskr-text-input--large {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
}
.input-full,
.text-input-full {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input:disabled,
.buskr-text-input:disabled,
.buskr-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.buskr-text-input,
.buskr-text-input--large {
  line-height: 3rem;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 1.25rem;
  border: 1px solid #D6D3D0;
  border-radius: 3px;
  background-color: #fff;
  /*box-shadow: inset 0 1px rgba(0,0,0,0.1);*/
  color: #454545;
  vertical-align: top;
}

.buskr-text-input:focus,
.buskr-text-input--large:focus {
  background-color: #fff;
  color: #454545;
  border: 1px solid #0036ff;
}

.buskr-text-input:disabled::-webkit-input-placeholder {
  color: #454545;
}

.buskr-text-input:invalid {
  border: 1px solid #ec514e;
}
