/* line 3, ../../app/scss/theme.scss */
.text-centered {
  text-align: center;
}

/* line 7, ../../app/scss/theme.scss */
.list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  user-select: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 19, ../../app/scss/theme.scss */
.list .list__header {
  margin: 0;
}
/* line 22, ../../app/scss/theme.scss */
.list .list__container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 27, ../../app/scss/theme.scss */
.list .list__item {
  margin: 0;
  padding: 0;
}

/* line 33, ../../app/scss/theme.scss */
.buskr-list__container {
  border-top: 1px solid #9daca9;
  color: #454545;
}
/* line 37, ../../app/scss/theme.scss */
.buskr-list__container .buskr-list__item {
  padding: 1.25rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #9daca9;
}
/* line 42, ../../app/scss/theme.scss */
.buskr-list__container .buskr-list__item:first-child {
  border-top: 1px solid #d6dcdb;
}

/* line 49, ../../app/scss/theme.scss */
.button,
.buskr-button,
.buskr-button-secondary {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

/* line 72, ../../app/scss/theme.scss */
.buskr-button,
.buskr-button-secondary {
  display: block;
  width: 85%;
  margin: 0 auto 10px;
  padding: 0 1.25rem;
  font-size: 13px;
  line-height: 3rem;
  letter-spacing: 1px;
  color: #fff;
  vertical-align: top;
  background-color: #f1b150;
  border-radius: 3px;
}

/* line 89, ../../app/scss/theme.scss */
.buskr-button.button_secondary {
  background-color: #CECECE;
}

/* line 92, ../../app/scss/theme.scss */
.buskr-button.button_facebook {
  background-color: #4a679f;
}

/* line 95, ../../app/scss/theme.scss */
.buskr-button.button_live {
  display: inline-block;
  background-color: #18c97c;
  color: white;
  line-height: 1.5rem;
  margin-bottom: 0;
}

/* line 106, ../../app/scss/theme.scss */
.input,
.text-input,
.buskr-text-input,
.buskr-text-input--large {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
}

/* line 120, ../../app/scss/theme.scss */
.input-full,
.text-input-full {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* line 128, ../../app/scss/theme.scss */
.input:disabled,
.buskr-text-input:disabled,
.buskr-text-input--large:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

/* line 135, ../../app/scss/theme.scss */
.buskr-text-input,
.buskr-text-input--large {
  font-size: 16px;
  letter-spacing: 1px;
  padding: .75rem 1rem .5rem;
  border: 1px solid #D6D3D0;
  border-radius: 3px;
  background-color: #fff;
  /*box-shadow: inset 0 1px rgba(0,0,0,0.1);*/
  color: #454545;
  vertical-align: top;
}

/* line 149, ../../app/scss/theme.scss */
.buskr-text-input:focus,
.buskr-text-input--large:focus {
  background-color: #fff;
  color: #454545;
  border: 1px solid #0036ff;
}

/* line 155, ../../app/scss/theme.scss */
.buskr-text-input:disabled::-webkit-input-placeholder {
  color: #454545;
}

/* line 159, ../../app/scss/theme.scss */
.buskr-text-input:invalid {
  border: 1px solid #ec514e;
}
