<div manage-drawer ng-cloak>
  <div ng-controller="IndexCtrl">
    <div class="list__container buskr-list-artists__container">
      <ul class="list buskr-list-artists">
        <li
          class="list__item buskr-list-artists__item"
          ng-click="open(id)"
          ng-repeat="(id, artist) in artists track by id | orderByPriority | orderBy:'distance'">

          <div class="artist-card">
            <img class="artist-image" cache-src ng-src="{{artist.image_url}}">
            <div class="artist-name">{{artist.name}}</div>
            <div class="live-location">
              <div class="loc">{{artist.distance}} mi</div>
              <button class="buskr-button button_live" ng-if="artist.live">Live now!</button>
            </div>
          </div>

        </li>
      </ul>

    </div>

  </div>

</div>
