<div ng-app="artistApp">
  <div ng-controller="IndexCtrl">
    <div class="list__container buskr-list-artists__container">
      <ul class="list buskr-list-artists">
        <li
          class="list__item buskr-list-artists__item"
          ng-style="{'background-image':'url(' + artist.image_url + ')'}"
          ng-click="open(artist._id)"
          ng-repeat="artist in artists">

          <div class="artist-name">{{artist.name}}</div>
          <div class="live-location">
            <div class="loc">0.3 mi</div>
            <button class="buskr-button button_live">Live now!</button>
          </div>
        </li>
      </ul>

    </div>

  </div>

</div>
