<div class="artists-map" ng-controller="MapCtrl" ng-cloak>
  <google-map
    center='map.center'
    zoom='map.zoom'
    draggable='true'
    events='map.events'
    bounds='map.bounds'
    options='map.options'>

    <marker coords="map.myMarker"
      icon="map.myMarker.icon"
      options="map.myMarker.options">
    </marker>

    <marker ng-repeat="marker in map.markers"
      coords="marker"
      icon="marker.icon"
      click="showArtistInfo(marker)"
      options="marker.options"
      events="marker.events">
    </marker>
  </google-map>

  <!-- <div id="map"></div> -->

  <div class="artist-card animate-if" ng-if="artist" ng-click="showArtist(artist)">
    <img class="artist-image" cache-src ng-src="{{artist.image_url}}">
    <div class="artist-name">{{artist.name}}</div>
    <div class="live-location">
      <div class="loc">{{artist.distance}} mi</div>
      <button class="btn btn-xs btn-live" ng-if="artist.live">Live now!</button>
    </div>
  </div>

</div>
