<div class="artists-map" ng-controller="MapCtrl" ng-cloak>

  <google-map
    center='map.center'
    zoom='map.zoom'
    draggable='map.draggable'
    bounds='map.bounds'
    options='map.options'>

    <marker coords="map.myMarker"
      icon="map.myMarker.icon"
      options="map.myMarker.options">
      <!-- <marker-label>You!</marker-label> -->
    </marker>

    <marker ng-repeat="marker in map.markers"
      coords="marker"
      icon="marker.icon"
      click="showArtistInfo(marker)"
      options="marker.options">
    </marker>

    <!-- <markers
      models="map.markers"
      coords="'self'"
      fit="true"
      icon="map.icon"
      options="map.markerOptions">
    </markers> -->
  </google-map>

  <div class="artist-card animate-if" ng-if="artist" ng-click="showArtist(artist)">
    <img class="artist-image" cache-src ng-src="{{artist.image_url}}">
    <div class="artist-name">{{artist.name}}</div>
    <div class="live-location">
      <div class="loc">{{artist.distance}} mi</div>
      <button class="btn btn-xs btn-live" ng-if="artist.live">Live now!</button>
    </div>
  </div>

</div>
