<div class="artist-profile" ng-controller="ShowCtrl" ng-cloak>
  <div class="artist-card">
    <img class="artist-image" cache-src ng-src="{{artist.image_url}}">
    <div class="artist-name">{{artist.name}}</div>
    <div class="live-location">
      <div class="loc">{{artist.distance}} mi</div>
      <button class="btn btn-xs btn-live" ng-if="artist.live">Live now!</button>
    </div>
  </div>

  <div class="profile-sections">
    <section class="bio">
      <div class="body" class="text-centered">
        {{artist.bio}}
        <p>Sriracha qui adipisicing flexitarian reprehenderit, sed Neutra banh mi aesthetic. Artisan plaid single-origin coffee McSweeney's, dolore Helvetica veniam brunch aesthetic nulla fugiat distillery chambray slow-carb High Life. Seitan raw denim aliquip irony, Blue Bottle keffiyeh eu magna farm-to-table sint keytar. Next level semiotics keytar.</p>
      </div>
    </section>

    <section class="media-section">
      <header class="centered">
        <h3>MEDIA</h3>
      </header>
      <div class="body">TODO</div>
    </section>

    <section class="location-section flow-column">
      <header class="full">
        <h3>LOCATION</h3>
        <!-- <div class="info">
          3m driving / 10m walking
        </div> -->
      </header>

      <div class="body">
        <div class="map" ng-click="openMap()">
          <img width="100%" src="http://maps.googleapis.com/maps/api/staticmap?center=222+Broadway+St.,New+York,+NY+10012&zoom=16&size=640x300&sensor=false">
        </div>

        <div class="address">
          568 Broadway 11th FL, New York, NY 10012
        </div>
      </div>
    </section>

    <section class="events-section">
      <header>
        <h3>EVENTS</h3>
      </header>
      <div class="body">
        <ul class="list-unstyled">
          <li class="live">Today &mdash; Live Now!</li>
          <li>Sat, Sept 28 &mdash; 10:00 PM</li>
          <li>Sun, Sept 30 &mdash; 10:00 PM</li>
          <li>Tue, Oct 12 &mdash; 10:00 PM</li>
        </ul>
      </div>
    </section>

    <section class="last-fm-section">
      <header class="centered">
        <h3>LAST.FM</h3>
      </header>
      <div class="body">last.fm/music/{{artist.name | urlfriendly}}</div>
    </section>

    <section class="itunes-section">
      <header class="centered">
        <h3>iTUNES</h3>
      </header>
      <div class="body">
        <div class="itunes-button">
          <img src="/images/download-on-itunes.png" width="101">
        </div>
      </div>
    </section>
  </div>

  <footer class="profile-footer">
    <div class="tip-performer" ng-click="tipBuskr()">
      <img src="/images/tip-performer.png" width="70.5">
      <div class="text">TIP PERFORMER</div>
    </div>
  </footer>

  <div class="overlay-wrapper animate-mask" overlay ng-show="showOverlay">
    <div class="mask"></div>

    <div class="tip-amount-overlay overlay" ng-show="showTipAmountOverlay">
      <div class="tip-amounts animate-tip-amounts" ng-show="showTipAmountOverlay">
        <ul class="list-unstyled">
          <li ng-click="tip(artist, 200)">
            <div class="amount">$2</div>
            <small class="desc">Appreciate the entertainment</small>
          </li>
          <li ng-click="tip(artist, 300)">
            <div class="amount">$3</div>
            <small class="desc">Love this!</small>
          </li>
          <li ng-click="tip(artist, 500)">
            <div class="amount">$5</div>
            <small class="desc">I want to buy them a drink!</small>
          </li>
          <li ng-click="tip(artist, 1000)">
            <div class="amount">$10</div>
            <small class="desc">I support the arts!</small>
          </li>
          <li ng-click="custom(artist)">
            <div class="custom-amt">Custom Amount</div>
          </li>
        </ul>
      </div>

      <footer class="profile-footer">
        <div class="tip-performer" ng-click="hideOverlay()">
          <img src="/images/tip-performer.png" width="70.5">
          <div class="text">TIP PERFORMER</div>
        </div>
      </footer>
    </div>

    <div class="payment-overlay overlay animate-overlay" ng-show="showPaymentOverlay">
      <header>Payment</header>
      <div class="body">
        <p>We need some payment information</p>
        <p>You only need to enter this once.
        We'll remember next time. Promise!</p>
      </div>
      <footer>
        <button class="btn btn-primary btn-block" ng-click="addCard()">Add Card</button>
      </footer>
    </div>
  </div>
</div>
