<article class="view" ng-controller="EmailCtrl">
  <div class="content content-padded">
    <form
      name="loginForm"
      ng-submit="submitLogin()"
      ng-class="{'animated invalid invalid-shake':hasErrors}">

      <div class="buskr-input">
        <input type="email" class="form-control"
          ng-model="email"
          placeholder="Email">
      </div>

      <div class="buskr-input">
        <input type="password" class="form-control"
          ng-model="password"
          placeholder="Password">
      </div>

      <div class="submit-area">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </div>
    </form>

    <footer class="footer-bottom">
      <button class="btn btn-primary btn-block" ng-click="signUp()">New User</button>
      <button class="btn btn-default btn-block">Forgot Password</button>
    </footer>
  </div>
</article>
