
<article class="view" id="loginPage" ng-controller="LoginCtrl" ng-cloak>
  <div class="login-title">
    <div class="title">BUSKR</div>
    <div class="subtitle">Lorem Ipsum Dolor Sit Amet</div>

  </div>
  <div class="content content-bottom login-buttons">
    <button class="btn btn-primary btn-block btn-fb" ng-click="facebookLogin()">Login with Facebook</button>
    <button class="btn btn-primary btn-block" ng-click="emailLogin()">Login/Sign Up with Email</button>

    <div class="skip-login" ng-click="skipLogin()">Skip For Now</div>
  </div>
</article>
