<article class="view" ng-controller="SignUpCtrl">
  <div class="content content-padded">
    <form name="signup">
      <h2>Select Your User Type</h2>
      <div class="panel"></div>

      <input type="text" placeholder="First Name" class="buskr-text-input input-full">
      <input type="text" placeholder="Last Name" class="buskr-text-input input-full">
      <input type="email" placeholder="Email" class="buskr-text-input input-full">
      <input type="password" placeholder="Password" class="buskr-text-input input-full">
      <input type="text" placeholder="Home Location" class="buskr-text-input input-full">
      <input type="text" placeholder="Age" class="buskr-text-input input-full">

      <button class="buskr-button">Sign Up</button>
      <button class="buskr-button button_facebook">Login with Facebook</button>
    </form>
  </div>
</article>
