<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Buskr</title>

  <!-- <link rel="stylesheet" href="/components/reset-css/reset.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-buskr.css" /> -->

  <!-- <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" /> -->
  <!-- <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.css" /> -->

  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" href="/stylesheets/buskr-theme.css" />
  <link rel="stylesheet" href="/stylesheets/<%= yield.controller %>.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>

  <script src="/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

  <!--<script src="/javascripts/plugins/testflight.js"></script>-->
  <script src="/javascripts/plugins/cdv-plugin-fb-connect.js"></script>
  <script src="/javascripts/plugins/facebook-js-sdk.js"></script>

  <script src="/components/lodash/dist/lodash.js"></script>
  <script src="/components/momentjs/moment.js"></script>

  <script src="/components/jquery/jquery.js"></script>
  <script src="/components/fastclick/lib/fastclick.js"></script>
  <script src="/components/imgcache.js/js/imgcache.js"></script>

  <script src="/components/angular/angular.js"></script>
  <script src="/components/angular-animate/angular-animate.js"></script>
  <!--<script src="/components/angular-touch/angular-touch.js"></script>-->
  <!--<script src="/components/angular-cookies/angular-cookies.js"></script>-->

  <!--<script src="/components/angularLocalStorage/src/angularLocalStorage.js"></script>-->
  <!--<script src="/components/CornerCouch/angular-cornercouch.js"></script>-->

  <script src="/components/angular-cache/dist/angular-cache.js"></script>

  <script src="/vendor/firebase/firebase-debug.js"></script>
  <script src="/vendor/firebase/firebase-simple-login.js"></script>
  <script src="/vendor/firebase/angularfire.js"></script>

  <!--<script src="/components/restangular/dist/restangular.js"></script>-->

  <script src="/components/angular-bootstrap/ui-bootstrap.js"></script>

  <script src="/javascripts/filters.js"></script>
  <script src="/javascripts/directives.js"></script>
  <script src="/javascripts/services.js"></script>

  <script src="/models/models.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body>
  <%= yield.view %>
</body>
</html>
